* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #EFF1FA;
  border:hidden;
}


.main {
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

/*titulo*/
.titulo {
  position: absolute;
  left: 35%;
  right: auto;
  top: 10px;
  bottom: auto;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 55px;
  
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: #0A3871;
}

/*boton encriptar*/
.btn-encriptar {
  
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 24px;

  position: absolute;
  width: 328px;
  height: 67px;
  left: 200px;
  bottom: 100px;

  border: 0;
  color: white;
  font-size: 15;
  background-color: #0A3871;
  border-radius: 24px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;
}

/*boton desencriptar*/
.btn-desencriptar {
display: flex;
flex-direction: column;
align-items: stretch;
padding: 24px;
color: #0A3871;

position: absolute;
width: 328px;
height: 67px;
left: 550px;
bottom: 100px;
font-size: 15;

background: #D8DFE8;

border: 1px solid #0A3871;
box-sizing: border-box;
border-radius: 24px;

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 24px;  
}

/*boton copiar*/
.btn-copy{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 24px;
  color: #0A3871;    
  
  position: absolute;
  width: 328px;
  height: 67px;
  left: -12.5px;
  bottom: 15px;
  font-size: 15;
  background: white;

  border: 1px solid #0A3871;
  box-sizing: border-box;
  border-radius: 24px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 24px;
}


/*Caja donde se ingresa el texto a encriptar*/
.text-input-ingreso{

  position: absolute;
  width: 680px;
  height: 48px;
  
  left: 220px;
  right: auto;
  top: 130px;
  bottom: auto;
  
  border-color: transparent; 
  border-radius: 10px;
  outline: none;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 32px;
  
  font-weight: 350;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #0A3871;
  
}

/*Caja que (deberia contener) imagen, botonn copiar y texto cuando es digitado*/
.form-box{
  
  background-color: white;
  position: absolute;
  height: 600px;
  width: 350px;
  left: 1000px;
  top: 40px;
  border-radius: 32px;
  

}

/*espacio donde se muestra el mensaje encriptado*/
#msg {
  outline: none;
  position: relative;
  height: 200px;
  width: 100px;
  left: 0px;
  top: 40px;
  border-radius: 20px;

  border-color: transparent;
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 150px;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  color: #495057;

  background-color: transparent
  

}

/*espacio "solo letras minus..."*/
#solo-letras{
  position: absolute;
  top: 530px; 
  left: 250px;
  bottom: 90px;
  right: inherit;

  font-family: 'Inter',sans-serif;
  font-size: 12px;
  color: #495057;

}

/*copiado al portapapeles*/
#message{
  position: absolute;
  top: 610px; 
  left: 20px;
  bottom: auto;
  right: inherit;
  
  font-family: 'Inter',sans-serif;
  font-size: 12px;
  color: #0A3871;

  background-color: transparent;
}


/*imagen "!"*/
#vector{
  position: absolute;
  top: 529px; 
  left: 230px;
  bottom: 90px;
  right: inherit;
}

/*imagen logo alura */
#alura-vector{
  position: absolute;
  left: 30px;
  right: auto;
  top: 15px;
  bottom: auto;
}